NEXT_PUBLIC_ENTER_ANALYTICS_ENABLED=true
NEXT_PUBLIC_ENTER_ANALYTICS_TOKEN=
NEXT_PUBLIC_ENTER_PROJECT_ID=
NEXT_PUBLIC_ENTER_ANALYTICS_ENDPOINT=https://api.enter.pro
NEXT_PUBLIC_ENTER_ANALYTICS_DEFINITIONS_ENDPOINT=
NEXT_PUBLIC_ENTER_ANALYTICS_DEBUG=false
